<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event-Countdown</title>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename= 'bootstrap/bootstrap.min.css')}}">
    <script>
        var edate='{{event_date}}'
    </script>
</head>

<body>
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                Countdown
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/login">Login</a></li>
                    <li><a href="/signup">SignUp</a></li> -->
                    <li><a href="/event">Create Event</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <div class="parent">
            <div class="div1 my-1">
                <!-- <h2 style="color: aqua;">{{event_name}}</h2> -->
                <h3>COUNTDOWN TO <span style="color: aqua;">{{event_name}}</span></h3>
                <h4 style="color: rgb(48, 160, 160);">{{event_date_words}}</h4>
            </div>
            <div class="div2">
                <section class="countdown-container">

                    <div class="days-container">
                        <div class="days"></div>
                        <div class="days-label">days</div>
                    </div>

                    <div class="hours-container">
                        <div class="hours"></div>
                        <div class="hours-label">hours</div>
                    </div>

                    <div class="minutes-container">
                        <div class="minutes"></div>
                        <div class="minutes-label">minutes</div>
                    </div>

                    <div class="seconds-container">
                        <div class="seconds"></div>
                        <div class="seconds-label">seconds</div>
                    </div>

                </section>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename= 'js/script.js')}}"></script>
    <script src="{{ url_for('static',filename= 'bootstrap/bootstrap.min.js')}}"></script>
</body>

</html>