<!DOCTYPE html>
<html>
    <head>
        <title>
            Event Countdown-Login
        </title>
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    LOGO
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="index.html">Event</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">SignUp</a></li>
                        <li><a href="createEvent.html">CreateEvent</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <center>
        <div class="form">
            <form>
                <p class="heading">LOGIN</p>
                <div class="enter">
                    <input type="text" name="uname" placeholder="Username" required>
                </div><br>
                <div class="enter">
                    <input type="password" name="pword" placeholder="Password" required>
                </div><br>
                <br>
                <br>
                <div class="submit">
                    <input type="submit" class="Signup" name="login" value="Login" placeholder="Signup">
                </div>
                <br>
                <!-- <div class="check">
                    <input type="checkbox" name="remember" value="remember">
                    <br>
                    Remember Me
                </div> -->
                <br>
                <div class="cancel px-2">
                    <input type="reset" value="Cancel">
                    <a href="#">Forgot Password?</a>
                </div>
            </form>
        </div>
        </center>
    </body>
</html>