<!DOCTYPE html>
<html>

<head>
    <title>
        Event Countdown-SignUp
    </title>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/signup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename= 'bootstrap/bootstrap.min.css')}}">
</head>

<body>
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                Countdown
            </div>
            <div class="menu">
                <ul>
                    <!-- <li><a href="/">Home</a></li> -->
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <!-- <li><a href="/event">CreateEvent</a></li>
                    <li><a href="/logout">Logout</a></li> -->
                </ul>
            </div>
        </nav>
    </header>
    <center>
        <div class="form">
            <form action="/signup" method="post">
                <p class="heading">SIGN UP</p>
                <div class="enter">
                    <input type="text" name="name" placeholder="Name" required>
                </div><br>
                <div class="enter">
                    <input type="text" name="uname" placeholder="Username" required>
                </div><br>
                <div class="enter">
                    <input type="password" name="pword" placeholder="Password" required>
                </div><br>
                <div class="enter">
                    <input type="password" name="pword2" placeholder="Re-Enter Password" required>
                </div><br>
                <br>
                <p>Already have an account? <a href='/login'>Sign In</a>.</p>
                <br>
                <div class="button">
                    <input type="submit" class="Signup" name="login" value="Sign Up" placeholder="Signup">
                    <input type="reset" class="cancel" name="reset" value="Cancel">
                </div>
            </form>
        </div>
    </center>
</body>

</html>