<!DOCTYPE html>
<html>

<head>
    <title>
        Event Countdown-SignUp
    </title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                LOGO
            </div>
            <div class="menu">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="index.html">Event</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">SignUp</a></li>
                    <li><a href="createEvent.html">CreateEvent</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <center>
        <div class="form">
            <form>
                <p class="heading">SIGN UP</p>
                <div class="enter">
                    <input type="text" name="name" placeholder="Name" required>
                </div><br>
                <div class="enter">
                    <input type="text" name="uname" placeholder="Username" required>
                </div><br>
                <div class="enter">
                    <input type="password" name="pword" placeholder="Password" required>
                </div><br>
                <div class="enter">
                    <input type="password" name="pword2" placeholder="Re-Enter Password" required>
                </div><br>
                <br>
                <p>By creating an account you agree to our <a
                        href='https://www.termsfeed.com/public/uploads/2019/04/privacy-policy-template.pdf'
                        target="_blank">Terms & Privacy</a>.</p>
                <br>
                <div class="button">
                    <a href="signup.html"><input type="submit" class="Signup" name="login" value="Sign Up"
                            placeholder="Signup"></a>
                    <input type="reset" class="cancel" name="reset" value="Cancel">
                </div>
            </form>
        </div>
    </center>
</body>

</html>